@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300;1,500&display=swap');

/*CSS Variables*/
:root{
    --primary-color: #0066cc;
    --white: #FFFFFF; 
    --off-white:#E5E7EB; 
}

body{
    font-family: 'Poppins', sans-serif;
}

/*Container*/
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 700px;
    margin: auto;
}

/*Links*/
.link-box{
    margin-bottom: 2rem;
}

.links{
   padding: 0.5rem 1rem;
   text-decoration: none;   
}

.primary-links{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white);   
}

.secondary-links{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;    
}

/*List*/
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0.5rem 1.5rem;
}

/*Nav*/
.navigation{
    background-color: var(--primary-color);
    border-radius: 00.75rem;
    padding: 1rem 2rem;
}

.nav-brand{
    color: var(--white);
    font-weight: bold;
    font-size: x-large;
}

.navigation .nav-pill{
    text-align: right;    
}

.navigation .links{
    color: var(--white);    
}

.navigation .links-active{
    font-weight: bold;
}

/*Header*/
.hero{
    padding: 1rem;
}

.hero-img{
    max-width: 70%;
    max-height: 350px;
    display:block;
    margin:auto;
}   

.hero-heading{
    text-align: center;
    padding-top: 1rem;
}

.hero .hero-colored{
    color: var(--primary-color);
}

/*Section*/
.section h1{
    text-align: center;
}

.section p{
    text-align: justify;
} 

.section-ow{
    padding: 1rem;
    background-color: var(--off-white);
}

/*Footer*/
.footer{
    background-color: var(--primary-color);
    padding: 0.75rem 2rem; 
    border-radius: 1rem;   
}

.footer-heading{
    text-align: center;
    color: var(--white);
    font-weight: bold;    
}

.footer .links{
    color: var(--white);
    text-align: center;
}

.footer .social{
    text-align: center;
}

.footer ul{
    padding-inline-start: 0 px;
}